<main id="main" class="main">
    <div class="pagetitle">
      <h1>Sensor</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item">Manage Node</li>
          <li class="breadcrumb-item active">List Node</li>
        </ol>
      </nav>
    </div>
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nodes</h5>
              <div class="row">
                <div class="col-lg-6"><p>List of Node.</p></div>
                <div class="col-lg-2 offset-10">
                  <a class="btn btn-primary rounded-pill" routerLink="add">
                    <i class="bi bi-plus add-btn"></i>ADD</a
                  >
                </div>
              </div>
              <table class="table datatable">
                <thead>
                  <tr>
                    <!-- <th scope="col">#</th> -->
                    <th scope="col">Name</th>
                    <th scope="col">User</th>
                    <th scope="col">Fan</th>
                    <th scope="col">Pump</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let n of nodes">
                    <td>{{n.name}}</td>
                    <td >
                     {{n.user.name}} {{n.user.firstname}}
                    </td>
                    <td>
                      <button (click)="toggleFan(n._id)" [disabled]="n.fan !== 2 && n.fan !== 3" [ngStyle]="{'background-color': (n.fan === 2 ? '#559AAF' : '#8D8989')}">
                        {{ n.fan === 2 ? 'Activé' : 'Désactivé' }}
                      </button>
                    </td>
                    <td>
                      <button (click)="togglePump()" [disabled]="n.pump !== 2 && n.pump !== 3"  [ngStyle]="{'background-color': (n.pump === 2 ? '#559AAF' : '#8D8989')}">
                        {{ n.pump === 2 ? 'Activé' : 'Désactivé' }}
                      </button>
                    </td>
                    <!-- <td>
                      <label class="toggle-button">
                         <input type="checkbox" [checked]="fan !== 2 && fan !== 3" (change)="toggleFan($event)" >
                        <span class="slider"></span>
                      </label>
                     </td> -->
                     <!-- <td >
                      <label class="toggle-button">
                        <input type="checkbox" [checked]="n.pump === 2|| n.pump === 1" (change)="togglePump($event)" >
                       <span class="slider"></span>
                     </label> 
                     </td> -->
                    <td>
                     <button (click)="Delete(n._id)"> <i class="bi bi-trash" style="border:none; color: rgb(92, 156, 240);"></i>&nbsp;</button> 
                      <a routerLink="edit/{{n._id}}"
                        ><i class="bi bi-pencil-square">&nbsp;</i
                      ></a>
                      <a routerLink="read/{{n._id}}"
                        ><i class="ri-eye-line"></i
                      ></a>
                    </td>
                  </tr>  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  