<main id="main" class="main">
  <div class="pagetitle">
    <h1>Plants</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Manage Culture</li>
        <li class="breadcrumb-item active">List Plants</li>
      </ol>
      <a routerLink="new-plant" class="btn btn-primary">add new plant</a>
    </nav>
  </div>
  <section class="section">
    <div class="row align-items-top">
      <div class="col-lg-3" *ngFor="let plant of plantList">
        <div class="card">
          <img src="assets/img/card.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">
              {{ plant.nom_plante | lowercase }}
            </h5>
            <a
              routerLink="plant-details/{{ plant.param.id }}"
              title="View growth params"
              class="btn-clickable btn-icon"
              ><i class="bi bi-eye"></i
            ></a>
            <a
              routerLink="edit-plant/{{ plant.id }}"
              class="btn-clickable btn-icon"
              ><i class="bi bi-pencil-square"></i
            ></a>
            <a (click)="delete(plant.id)" class="btn-clickable btn-icon"
              ><i class="bi bi-trash"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
