<main id="main" class="main">
  <div class="pagetitle">
    <h1>Plants</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Manage Culture</li>
        <li class="breadcrumb-item active">List Plants</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Plants</h5>
            <div class="row">
              <div class="col-lg-6"><p>List of cultures.</p></div>
              <div class="col-lg-2 offset-4">
                <a class="btn btn-primary rounded-pill" routerLink="new-plant">
                  <i class="bi bi-plus add-btn"></i
                ></a>
              </div>
            </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Plant Name</th>
                  <th scope="col">Type</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let plant of plantList">
                  <th scope="row">{{ plant.id }}</th>
                  <td>{{ plant.nom_plant }}</td>
                  <td>{{ plant.type }}</td>
                  <td>
                    <a (click)="delete(plant.id)" class="btn-clickable"
                      ><i class="bi bi-trash"></i></a
                    >&nbsp;
                    <a routerLink="edit-plant/{{ plant.id }}"
                      ><i class="bi bi-pencil-square"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
