<main id="main" class="main">
    <div class="pagetitle">
      <h1>Edit Node</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item">
            <a routerLink="/sensor">Manage Nodes</a>
          </li>
          <li class="breadcrumb-item active">Edit New Node</li>
        </ol>
      </nav>
    </div>
    <section class="section">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add New Node</h5>
              <form class="row g-3">
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Your Name"
                  />
                </div>
                <div class="col-md-6">
                  <input type="email" class="form-control" placeholder="Email" />
                </div>
                <div class="col-md-6">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                  />
                </div>
                <div class="col-12">
                  <input type="text" class="form-control" placeholder="Address" />
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary form-btn">
                    Submit
                  </button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  