<main id="main" class="main">
    <div class="pagetitle">
      <h1>Edit Node</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item">
            <a routerLink="/sensor">Manage Nodes</a>
          </li>
          <li class="breadcrumb-item active">Edit Node</li>
        </ol>
      </nav>
    </div>
    <section class="section">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edit Node</h5>
              <form class="row g-3" #form="ngForm" (ngSubmit)="edit()">
                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Node Name"
                    [(ngModel)]="node.name"
                    name="name"
                  />
                </div>
                <!-- <div class="col-md-6">
                  <input type="email" class="form-control" placeholder="Email" />
                </div> -->
                <div class="col-md-6">
                  <select name="user" [(ngModel)]="node.user" id="user">
                    <option value="user">Select user</option>
                    <option value="{{user._id}}" *ngFor="let user of users">{{user.name}} {{user.firstname}}</option>
                </select>
                
                </div>
                <!-- <div class="col-12">
                  <input type="text" class="form-control" placeholder="Address" />
                </div> -->
                <div class="text-center">
                  <button type="submit" class="btn btn-primary form-btn">
                    Submit
                  </button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  