<main id="main" class="main">
  <div class="pagetitle">
    <h1>Plants</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-plant"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-plant">Manage Culture</li>
        <li class="breadcrumb-plant active">List Plants</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Plants</h5>
            <div class="row">
              <div class="col-lg-6"><p>List of cultures.</p></div>
              <div class="col-lg-2 offset-4">
                <a
                  class="btn btn-primary rounded-pill"
                  title="add new plant growth parameters"
                  routerLink="/cultures/params/new"
                >
                  <i class="bi bi-plus add-btn"></i
                ></a>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-12">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Growth Time</th>
                      <th scope="col">Ph</th>
                      <th scope="col">Phosphore</th>
                      <th scope="col">Nitrogen</th>
                      <th scope="col">Potatium</th>
                      <th scope="col">Soil Moisture</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ param.temps_croissance }}</td>
                      <td>{{ param.niv_ph }}</td>
                      <td>{{ param.niv_phosphore }}</td>
                      <td>{{ param.niv_azote }}</td>
                      <td>{{ param.niv_potasium }}</td>
                      <td>{{ param.taux_humidite }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
