<main id="main" class="main">
  <div class="pagetitle">
    <h1>Add new plant parameters</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">
          <a routerLink="/cultures">Manage Culture</a>
        </li>
        <li class="breadcrumb-item active">Add Plants pamars</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add Plant params</h5>
            <form class="row g-3" novalidate>
              <div class="col-md-4">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Phosphore"
                  name="phosphore"
                />
                <div class="invalid-feedback">
                  <span> Plant phosphore level is required </span>
                </div>
              </div>
              <div class="col-md-4">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Nitrogen"
                  name="nitrogen"
                />
                <div class="invalid-feedback">
                  <span> Plant nitrogen level is required </span>
                </div>
              </div>
              <div class="col-md-4">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Potatium"
                  name="potatium"
                />
                <div class="invalid-feedback">
                  <span> Plant potatium level is required </span>
                </div>
              </div>
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Growth duration"
                  name="growthDuration"
                />
                <div class="invalid-feedback">
                  <span> Plant growth duration is required </span>
                </div>
              </div>
              <div class="col-md-6">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Soil moisture"
                  name="soilMoisture"
                />
                <div class="invalid-feedback">
                  <span> Plant soil moisture is required </span>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary form-btn w-100">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
